<style type="text/css">
  .jumbotron {
    width: 65%;
  }
  .search {
    width: 65%;
  }

.popular_offers {
  list-style-type: decimal;
}

  .popular_offer {
    margin-bottom: 2em;
  }

	#logo-box {
		display:flex;
	}

	.logo {
		border: 10;
		margin: 50em 2em 2em 2em;
	}
</style>

<div class="container">

      <!--
      <div class="panel panel-warning search">
            <div class="panel-heading interview-header">
              <h3 class="panel-title">面接情報を検索</h3>
            </div>
            <div class="panel-body">
                        <br>            
      <%= form_tag(:controller => "offers", :action => "search") do %>

      <div class="col-md-3" style="border-right: thin ridge #ddcdc; margin-bottom: 20px;">
        <%= select_tag :category,
          options_for_select( @categories.map {|c| [ "#{c}", c ] }), prompt: "業種を選択  ▼" %>
      </div>
    <div class="col-md-3" style="border-right: thin ridge #dcdcdc;">
      <%= select_tag :job,
          options_for_select( @jobs.map {|c| [ "#{c}", c ] }), prompt: "職種を選択 ▼" %>
    </div>
    <div class="col-md-3">
      <%= select_tag :year,
          options_for_select( @years.map {|c| [ "#{c}", c ] }), prompt: "年度を選択 ▼" %>
    </div>
    <br><br>
    <div id="text_field"><%= text_field( :search, :name, :placeholder => "キーワード") %>
      <%= submit_tag("検索", :class => "btn") %></div>
    <% end %>
</div>
  </div> 
-->

<div class="panel panel-danger search">
    <div class="panel-heading interview-header">
      <h3 class="panel-title">新着面接情報</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @new_offers.each do |p| %>
        <li class="new_offer"><%= link_to p.name + "　" + p.year.to_s + "年度　" + p.job, :controller => "interviews", :action => "view", :id => p.id  %>
        <% end %>
      </ul>
    </div>
 </div>

 <!-- ここからロゴ -->
<div class="panel panel-warning search">
    <div class="panel-heading interview-header">
      <h3 class="panel-title">掲載企業一覧</h3>
    </div>
    <div class="panel-body" id="logo-box">
			<div>
        <% @offers.each do |o| %>
					<span class="logo"><%= link_to image_tag(o.image_path, :width => "160px", :height => "60px", :alt => o.name), :controller => "interviews", :action => "view", :id => o.id %></span>
        <% end %>
				</div>
    </div>
 </div>




<!--
  <div class="panel panel-warning search">
    <div class="panel-heading interview-header">
      <h3 class="panel-title">ブックマーク数が多い面接情報</h3>
    </div>
    <div class="panel-body">
      <ul class="popular_offers">
        <% number = 118  %>
        <% @popular_offers.each do |p| %>
        <li class="popular_offer"><%= link_to p.name + "　" + p.year.to_s + "年度　" + p.job, :controller => "interviews", :action => "view", :id => p.id  %>　<span class="badge"><%= number %>ブックマーク</span></li>
        <% number -= 7 %>
        <% end %>
      </ul>
    </div>
 </div>
  -->

</div>
